/* solimatt juntagrico css
_______________________________________________________________________ */
body {
    margin: 0;
    font-family: "Source Sans Pro Regular";
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;
    color: #3B3934;
    text-align: left;
    background-color: #fff;
}

a {
    color: #669933;
}

.page-title h3, .allcontent h3 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #669933;
    font-size: 30pt;
}

.admin-menu {
    font-family: "Source Sans Pro Regular";
    font-size: 14px;
}

.nav-link, .nav-link:focus {
    color: #3B3934;
}

.btn-success {
    color: #fff;
    background-color: #669933;
    border-color: #669933;
}

.btn-success:hover {
    background-color: #ccc;
}

/* solimatt LOGO
_______________________________________________________________________ */
.juntagrico-logo {
    /* uncomment the next line and add your logo in the img folder */
    background: url(/static/solimatt/img/logo-c-solimatt.png) no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    width: 480px;
    height: 160px;
}
