.juntagrico-logo {
    /* uncomment the next line and add your logo in the img folder */
    background: url(/static/solimatt/img/logo-c-solimatt.png) no-repeat 0 0;
    background-size: contain;
    display: inline-block;
    width: 580px;
    height: 161px;
}
.btn-success {
    color: #fff;
    background-color: #689d31;
    border-color: #689d31;
}

.page-title h3, .allcontent h3 {
    margin-top: 0;
    margin-bottom: 40px;
    color: #689d31;
    font-size: 30pt;
}
